.body-content{
  margin-top: 20px;
  display: grid;
  grid-template-columns:  1fr 1fr 1fr 1fr 1fr;
  row-gap: 35px;
}

.images{
  border-radius: 5px;
}
.user-details{
  position: relative;
  height: 20px;
  bottom: 70px;
  left: 10px;
  display: flex;
  color: white;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 10px;
}


/* ----------------------------- */

.image-container {
  position: relative;
  overflow: hidden;
  transition: filter 0.3s ease; /* Smooth transition for filter property */
}

.images:hover {
  filter: brightness(40%); /* Darken the back image on hover */
}

.user-details {
  transition: opacity 0.4s ease; /* Smooth transition for opacity property */
}

.user-details img {
  border-radius: 50%;
}
