<app-search-bar (searchTextChange)="onSearched($event)"></app-search-bar>
<div class="body-content">
  <div class="images-div" *ngFor="let image of imagesData">
    <div class="image-container" (mouseenter)="showDetails(image)" (mouseleave)="hideDetails()">
      <img class="images" width="250vh" height="300vh" [src]="image.urls.regular">
      <div class="user-details" *ngIf="image.showDetails">
        <div class="description-div">
          <p class="description">{{image.alt_description}}</p>
        </div>
        <div class="image-data">
          <img [src]="image.user.profile_image.small" alt="">
          <h3>{{image.user.name}}</h3>
          <button>
            <a [href]="image.urls.full" target="_blank">
              <img width="20px" height="10px" src="https://img.icons8.com/windows/32/download--v1.png"
                alt="download--v1" />
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="load-more-div" (click)="onScroll()" *ngIf="numberOfImages!==0">
  <button class="load-more-button">
    Load more
  </button>
</div>


<div class="image-not-found" *ngIf="numberOfImages==0">
  <img src="../../../assets/Image_not_available.png" alt="">
</div>
<div class="credits">
  <p>Developed by </p>
  <p class="developer-name">Vishal Subhash khandagale</p>
</div>
